@charset "UTF-8";
body {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Meiryo, "メイリオ", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Helvetica, sans-serif;
  color: #333;
  line-height: 1.6;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.image, .about, .flow, .fee {
  padding: 50px 0;
}

h2 {
  background: #c5f5d0;
  font-size: 30px;
  text-align: center;
  padding: 5px;
  font-weight: bold;
}

.sub {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.box {
  border: solid 5px green;
  width: 1200px;
  margin: 0 auto;
}

.box h3 {
  text-align: center;
  margin: 20px;
  font-size: 30px;
  font-weight: bold;
  color: green;
}

.inner-box {
  display: flex;
  flex-wrap: wrap;
}

.inner-box p {
  text-align: center;
}

.course {
  width: 50%;
}

.course ul {
  text-align: left;
  margin: 0 auto;
  padding: 0 30px;
  list-style-type: none;
}

.course ul li {
  padding: 10px 0px 10px 20px;
  font-size: 20px;
  margin: 10px;
  position: relative;
  line-height: 2rem;
  text-align: left;
}

.course ul li:before {
  background: url(../img/outline_task_alt_black_18dp.png) no-repeat;
  position: absolute;
  left: -30px;
  display: inline-block;
  content: "";
  width: 2.5rem;
  height: 2.5rem;
  background-size: contain;
}

.your-course {
  margin-top: 30px;
}

.your-course p {
  font-size: 20px;
  margin: 0 auto;
  color: black;
}

.your-course::before {
  border-color: orange transparent transparent transparent;
  position: relative;
  content: "";
  left: 260px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 26px 25px 0 25px;
}

.your-course .result {
  background: orange;
  padding: 20px;
  font-size: 25px;
  font-weight: bold;
  margin: 20px;
}

.your-course .result em {
  color: #fff;
}

.your-course .result p {
  font-size: 30px;
  text-align: center;
}

.your-course2 {
  margin-top: 30px;
}

.your-course2 p {
  font-size: 20px;
  color: black;
  margin: 0 auto;
}

.your-course2::before {
  border-color: #7BADDE transparent transparent transparent;
  position: relative;
  content: "";
  right: -260px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 26px 25px 0 25px;
}

.your-course2 .result2 {
  background: #7BADDE;
  padding: 20px;
  font-size: 25px;
  font-weight: bold;
  margin: 20px;
}

.your-course2 .result2 em {
  color: #fff;
}

.your-course2 .result2 p {
  font-size: 30px;
  text-align: center;
}

.fade-in-bottom {
  opacity: 0;
  animation: fadein-bottom 1.5s .3s ease-out forwards;
}

.fade-in-bottom {
  opacity: 0;
  animation-name: fadein-bottom;
  animation-duration: 1.5s;
  animation-delay: .3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes fadein-bottom {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
